// Header
header {
	height: 540px;
	background: url("../img/header.png") no-repeat center center / auto 564px;
	padding-top: 29px;

	@include breakpoint( $mqmd ) {
		height: 700px;
	    background-size: cover;
	    padding-top: 46px;
	};

	a {
		color: $color2;
		transition: color .3s, border-color .3s, background .3s;
		text-decoration: none;

		&:hover {
			color: $color4;
		}
	}

	.nav_links,
	.nav_logo {
		text-align: center;
	}

	.nav_links {
		a {
			font-family: $ms;
			font-weight: $bold;			

			&:last-child {
				border: 2px solid $color2;
				padding: 7px 16px;
				border-radius: 18px;
			    margin-left: 16px;

			    &:hover {
					border-color: $color4;;
				}
			}
		}

		@include breakpoint( $mqmd ) {
			text-align: right;
		}
	}

	.nav_logo {
		margin-top: 124px;

		a {
			font-size: 20px;
			font-weight: $bold;
			font-family: $ms;
			letter-spacing: 1px;
		}

		@include breakpoint( $mqmd ) {
			margin-top: 0;
			text-align: left;
		};
	}

	.header_content {
	    margin-top: 27px;
		text-align: center;

		@include breakpoint( $mqmd ) {
			margin-top: 144px;
		}

		.header_content_text {
			p {
				color: $color2;

				&:first-child {
					font-size: 30px;
					font-weight: $bold;
					font-family: $ms;
					text-transform: uppercase;
					margin-bottom: 6px;

					@include breakpoint( $mqmd ) {
						font-size: 52px;
						width: 500px;
						margin-left: auto;
						margin-right: auto;
						margin-bottom: 22px;
					}
				}

				&:last-child {
					font-size: 18px;
					width: 236px;
					margin-left: auto;
					margin-right: auto;

					@include breakpoint( $mqmd ) {
						font-size: 24px;
						width: auto;
					}
				}
			}
		}

		.header_content_button {
			margin-top: 12px;

			@include breakpoint( $mqmd ) {
				margin-top: 32px;
			}

			a {
				background: $color4;
				font-family: $ms;
				font-weight: $bold;
				padding: 11px 52px;
				display: inline-block;
				border-radius: 18px;

				&:hover {
					background: $color2;
				}

				@include breakpoint( $mqmd ) {
					padding: 11px 23px;
				}
			}
		}
	}
}

.partners {
	h2 {
		text-align: center;
		font-size: 22px;
		font-family: $ms;
		margin-top: 24px;
		margin-bottom: 13px;

		@include breakpoint( $mqmd ) {
			margin-bottom: 32px;
			margin-top: 86px;
		}
	}

	.more {
		text-align: center;
		a {
			color: $color4;
			border: 2px solid $color4;
			text-decoration: none;
			font-family: $ms;
			font-weight: $bold;
			border-radius: 18px;
			display: inline-block;
			margin: 10px 0;
		    padding: 8px 72px;
		    transition: color .3s, background .3s;

		    @include breakpoint( $mqmd ) {
		    	padding: 8px 28px;
		    }

			&:hover {
				background: $color4;
				color: $color2;
			}
		}
	}
}

.partner {
	text-align: center;
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;

	@include breakpoint( $mqmd ) {
		margin-bottom: 60px;
	}

	@include breakpoint( $mqlg ) {
		margin-bottom: 36px;
	}

	.partner_image {
		position: relative;

		img {
			width: 122px;
			height: 122px;
			border-radius: 50%;
		}
	}

	.partner_icon {
		position: absolute;
		bottom: 0;
		right: 23%;
		width: 40px;
		height: 40px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.partner_name {
		font-family: $ms;
		font-weight: $bold;
		color: $color6;
		margin-top: 12px;
	}

	.partner_text {
		color: $color3;
		margin-top: 11px;
	}
}

.works {
	h2 {
		text-align: center;
		font-size: 22px;
		font-family: $ms;
		margin-top: 34px;
		margin-bottom: 14px;

		@include breakpoint( $mqmd ) {
			margin-top: 94px;
			margin-bottom: 33px;
		}
	}
}

.bx-wrapper {
	margin: 0;
	box-shadow: none;
    border: none;
    background: none;

    img {
    	max-width: none;
    }

    .bx-controls-direction {
    	a {
    		width: 30px;
    		height: 55px;
    		background-image: url("../img/slider-arrows.png");
    		background-repeat: no-repeat;
    		opacity: .6;
    		transition: opacity .3s;
    		margin-top: -28px;
    		top: 17%;

    		@include breakpoint( 0, $mqmd - 1 ) {
    			display: none;
    		}

    		&:hover {
    			opacity: 1;
    		}
    	}

    	.bx-prev {
    		background-position: 0 0;
    	}

    	.bx-next {
		    background-position: -36px 0;
    	}
    }
}

.slider-wrapper {
	position: relative;
	margin-bottom: 10px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, transparent, rgba(0,0,0,.6));
		z-index: 1;
		border-radius: 4px;
	}

	.slider_info {
		position: absolute;
		z-index: 2;
		width: 100%;
		bottom: 0;
		left: 0;
		color: $color2;
		padding: 0 15px 15px;

		.slider_info_step {
			font-size: 10px;
			font-family: $ms;
			text-transform: uppercase;
			background: $color4;
			display: inline-block;
		    padding: 3px 0;
		    width: 70px;
		    text-align: center;
		    border-radius: 10px;
		    letter-spacing: 2px;
		}

		.slider_info_title {
			font-size: 24px;
			font-weight: $bold;
			font-family: $ms;
			margin-top: 16px;
			margin-bottom: 11px;
		}
	}
}

.slider {
	.slider_slide {
		& ~ .slider_slide {
			visibility: hidden;

			.bx-wrapper & {
				visibility: visible;
			}
		}

		border-radius: 4px;
		overflow: hidden;

		@include breakpoint( 0, $mqmd - 1 ) {
			height: 240px !important;
		}

		img {
			width: 300px;
			height: 400px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);

			@include breakpoint( 0, $mqmd - 1 ) {
				margin-top: -100px;
			}
		}
	}
}

// Footer
footer {
	border-top: 4px solid $color4;
	padding-top: 16px;
	text-align: center;
	@include breakpoint( $mqmd ) {
		padding-top: 36px;
	};

	.footer_logo {
		a {
			font-family: $ms;
			color: $color4;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: $bold;
			text-decoration: none;
			letter-spacing: 0.8px;
		}

		@include breakpoint($mqmd) {
			text-align: right;
		};

		@include breakpoint($mqlg) {
			text-align: left;
		};
	}

	.footer_menu {
		margin-top: 11px;
		@include breakpoint($mqmd) {
			margin-top: 0;
			text-align: left;
		};

		.footer_menu_header {
			font-weight: $bold;
			font-family: $ms;
		}

		.footer_menu_list {
			margin-top: 1px;
			@include breakpoint($mqmd) {
				margin-top: 11px;
			};
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-left: 10px;
				&:first-child { margin-left: 0; }

				@include breakpoint($mqmd) {
					margin-left: 0;
					display: block;
					margin-bottom: 5px;
				};
			}

			a {
				color: $color3;
				text-decoration: none;
				transition: color .3s, border-color .3s;
				border-bottom: 1px solid transparent;

				&:hover { color: $color1; border-color: $color1; }
			}
		}
	}

	.designed {
		margin-top: 10px;

		@include breakpoint($mqmd) {
			margin-top: 0px;
		};

		@include breakpoint($mqmd) {
			text-align: right;
		};

		.designed_label {
			font-family: $ms;
			font-weight: $bold;
			font-size: 10px;
			color: $color5;

			span {
				padding: 0 20px;
			}
		}

		.designed_logo {
			@include breakpoint($mqmd) {
				margin-top: 8px;
			};
		}
	}
}