// Header
header {
	height: 540px;
	background: url("../img/header.png") no-repeat center center / auto 564px;
	padding-top: 29px;

	@include breakpoint( $md ) {
		height: 700px;
	    background-size: cover;
	    padding-top: 46px;
	};

	a {
		color: $color2;
		transition: color .3s, border-color .3s, background .3s;
		text-decoration: none;

		&:hover {
			color: $color4;

			&:last-child {
				border-color: $color4;;
			}
		}
	}

	.nav_links,
	.nav_logo {
		text-align: center;
	}

	.nav_links {
		a {
			font-family: $ms;
			font-weight: $bold;			

			&:last-child {
				border: 2px solid $color2;
				padding: 7px 16px;
				border-radius: 18px;
			    margin-left: 16px;
			}
		}

		@include breakpoint( $md ) {
			text-align: right;
		}
	}

	.nav_logo {
		margin-top: 124px;

		a {
			font-size: 20px;
			font-weight: $bold;
			font-family: $ms;
			letter-spacing: 1px;
		}

		@include breakpoint( $md ) {
			margin-top: 0;
			text-align: left;
		};
	}

	.header_content {
	    margin-top: 27px;
		text-align: center;

		@include breakpoint( $md ) {
			margin-top: 144px;
		}

		.header_content_text {
			p {
				color: $color2;

				&:first-child {
					font-size: 30px;
					font-weight: $bold;
					font-family: $ms;
					text-transform: uppercase;
					margin-bottom: 6px;

					@include breakpoint( $md ) {
						font-size: 52px;
						width: 500px;
						margin-left: auto;
						margin-right: auto;
						margin-bottom: 22px;
					}
				}

				&:last-child {
					font-size: 18px;
					width: 236px;
					margin-left: auto;
					margin-right: auto;

					@include breakpoint( $md ) {
						font-size: 24px;
						width: auto;
					}
				}
			}
		}

		.header_content_button {
			margin-top: 12px;

			@include breakpoint( $md ) {
				margin-top: 32px;
			}

			a {
				background: $color4;
				font-family: $ms;
				font-weight: $bold;
				padding: 11px 52px;
				display: inline-block;
				border-radius: 18px;

				&:hover {
					background: $color2;
				}

				@include breakpoint( $md ) {
					padding: 11px 23px;
				}
			}
		}
	}
}


// Footer
footer {
	border-top: 4px solid $color4;
	padding-top: 16px;
	text-align: center;
	@include breakpoint( $md ) {
		padding-top: 36px;
	};

	.footer_logo {
		a {
			font-family: $ms;
			color: $color4;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: $bold;
			text-decoration: none;
			letter-spacing: 0.8px;
		}

		@include breakpoint($md) {
			text-align: right;
		};

		@include breakpoint($lg) {
			text-align: left;
		};
	}

	.footer_menu {
		margin-top: 11px;
		@include breakpoint($md) {
			margin-top: 0;
			text-align: left;
		};

		.footer_menu_header {
			font-weight: $bold;
			font-family: $ms;
		}

		.footer_menu_list {
			margin-top: 1px;
			@include breakpoint($md) {
				margin-top: 11px;
			};
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-left: 10px;
				&:first-child { margin-left: 0; }

				@include breakpoint($md) {
					margin-left: 0;
					display: block;
					margin-bottom: 5px;
				};
			}

			a {
				color: $color3;
				text-decoration: none;
				transition: color .3s, border-color .3s;
				border-bottom: 1px solid transparent;

				&:hover { color: $color1; border-color: $color1; }
			}
		}
	}

	.designed {
		margin-top: 10px;

		@include breakpoint($md) {
			margin-top: 0px;
		};

		@include breakpoint($md) {
			text-align: right;
		};

		.designed_label {
			font-family: $ms;
			font-weight: $bold;
			font-size: 10px;
			color: $color5;

			span {
				padding: 0 20px;
			}
		}

		.designed_logo {
			@include breakpoint($md) {
				margin-top: 8px;
			};
		}
	}
}