// general
$columns: 12;
$gutter: 20;

$md: 768;
$lg: 960;

$mqmd: $md + $gutter;
$mqlg: $lg + $gutter;

// colors
$color1: #000000; //black
$color2: #ffffff; //white
$color3: #666666;
$color4: #ff4e50;
$color5: #cccccc;
$color6: #333333;
$color7: #999999;

// font weights
$thin: 100;
$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$heavy: 900;

// fonts
$roboto: 'Roboto', sans-serif;
$ms: 'Montserrat', sans-serif;