// 
// This file should only contains includes of other files
// keep all your custom code inside 'parts' folder
// or any other folder i.e. "components" which is used for
// bower components
//

@import "../components/bxslider-4/dist/jquery.bxslider.min";

@import "parts/_vars";

@import "parts/_mixins";

@import "parts/_grid";

@import "parts/_fonts";

@import "parts/_default";

@import "parts/_bxsliderfix";

@import "parts/_main";